<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Site</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/aset/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static/aset/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/aset/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/aset/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/aset/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <div class="container-fluid nav-bar bg-transparent">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
                <a href="index.html" class="navbar-brand d-flex align-items-center text-center">
                    <div class="icon p-2 me-2">
                    </div>
                    <h3 class="m-0 text-primary">TripCompanion</h3>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Trips</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/hotel" class="dropdown-item">Hotel</a>
                                <a href="/rest" class="dropdown-item">Restaurant</a>
                                <a href="/appartment" class="dropdown-item">Appartment</a>
                                <a href="/resort" class="dropdown-item">Resort</a>
                                <a href="/super" class="dropdown-item">Super Market</a>
                            </div>
                        </div>
                        <!--<div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="404.html" class="dropdown-item">404 Error</a>
                            </div>
                        </div>-->
                        <a href="/eme" class="nav-item nav-link">Emergency</a>
                    </div>
                    <a href="" class="btn btn-primary px-3 d-none d-lg-flex">Search for Vacation</a>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->




       


       




        <!-- Property List Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                            <h1 class="mb-3">Super Market</h1>
                            <p>Exclusive discounts and special offers from nearby supermarkets. Save money while enjoying the best local products.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Featured</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                           
                            
                            
                            
                           
                        </div>
                    </div>

             
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            {%for user in user%}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{{url_for("profileitem", userid=user.id)}}"><img class="img-fluid" src="{{user.image_file}}" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">from Ghc {{user.index}}</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{user.year}}</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <!--<h5 class="text-primary mb-3">Ghc {{user.index}}</h5>-->
                                        <a class="d-block h5 mb-2" href="">{{user.guardian}}</a>
                                        <p style="color:#000;"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{user.fees}}</p>
                                    </div>
                                    <div class="d-flex border-top">

                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-star text-warning me-2"></i><i class="fa fa-star text-warning me-2"></i><i class="fa fa-star text-warning me-2"></i><i class="fa fa-star text-warning me-2"></i><i class="fa fa-star text-warning me-5"></i>{{user.arrears}} Star {{user.year}}</small>
                                       
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-users text-primary me-2"></i>{{user.schools}} People</small>
                                       
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    

                        </div>
                    </div>



                    
                    
                    </div>
                </div>
            </div>
        </div>
     
        <!-- Property List End -->




       


        <!-- Testimonial Start -->  
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Our Reviews!</h1>
                    <p> Trip companion app makes travel easy, fun, and stress-free. </p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>The trip companion app is a game-changer! It made planning effortless and provided fantastic travel tips</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="static/aset/img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Benjamin Amoah</h6>
                                    <small>Student</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>Fantastic app! It helped me discover hidden gems and made my trip so much smoother.</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="static/aset/img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Miss Regina Crabbe</h6>
                                    <small>Lecturer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>The trip companion app is my go-to for travel. Easy to use and super helpful!</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="static/aset/img/testimonial-3.jpg" style="width: 45px; height: 45px;">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Felix Mensah</h6>
                                    <small>Student</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        

       <!-- <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-dfdcc463-a526-4223-a562-2413f75f36dc" data-elfsight-app-lazy></div>
      -->
         <!-- Footer Start -->
         <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Get In Touch</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Miotso-Accra Ghana</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+233 555 202 319</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>tripcompanion@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Quick Center</h5>
                      
                        <a href="/hotel" class="btn btn-link text-white-50" 
class="btn btn-link text-white-50" >Hotel</a>
                                <a href="/rest" class="btn btn-link text-white-50" 
class="btn btn-link text-white-50" >Restaurant</a>
                                <a href="/appartment" class="btn btn-link text-white-50" 
class="btn btn-link text-white-50" >Appartment</a>
                                <a href="/resort" class="btn btn-link text-white-50" 
class="btn btn-link text-white-50" >Resort</a>
                                <a href="/super" class="btn btn-link text-white-50" 
class="btn btn-link text-white-50" >Super Market</a>
                      
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Photo Gallery</h5>
                        <div class="row g-2 pt-2">
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="static/aset/img/property-1.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="static/aset/img/property-2.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="static/aset/img/property-3.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="static/aset/img/property-4.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="static/aset/img/property-5.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid rounded bg-light p-1" src="static/aset/img/property-6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Newsletter</h5>
                        <p>We are thrilled to introduce our latest innovation - the Trip Companion App! Our app is designed to make your travel experiences smoother, more enjoyable, and completely stress-free.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                          <a href="ulogin">  <button type="button" class="btn btn-primary py-2 position-absolute  mt-2 me-2">Dashboard</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">TripCompanion</a>, All Right Reserved. 
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							Designed By <a class="border-bottom" href="https://htmlcodex.com">D&J</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="/">Home</a>
                                <a href="/about">About Us</a>
                                <a href="/contactus">Contact</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/aset/lib/wow/wow.min.js"></script>
    <script src="static/aset/lib/easing/easing.min.js"></script>
    <script src="static/aset/lib/waypoints/waypoints.min.js"></script>
    <script src="static/aset/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/aset/js/main.js"></script>
</body>

</html>